# Python
__pycache__/
*.py[cod]
*.pyo
venv/
.venv/
env/
.env
*.egg-info/
dist/
build/
*.db

# Node
node_modules/
dist/
.vite/
*.local

# IDE
.vscode/
.idea/
*.swp
*.swo
.DS_Store

# Django
staticfiles/
media/
*.log
